{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle">{{ title }}</h2>
<form action="{{ action }}" method="POST">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" name="name" value="{{ user.name if user else '' }}" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="email" name="email" value="{{ user.email if user else '' }}" required>
        </div>
    </div>
    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" name="password" required>
        </div>
    </div>
    <div class="control">
        <button class="button is-primary" type="submit">Submit</button>
    </div>
</form>
{% endblock %}
